[Desktop Entry]
Version=1.0
Name=Google Chrome
Exec=/usr/bin/google-chrome-stable --ozone-platform=wayland --enable-wayland-ime %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
