[Unit]
Description=TUFF-RADICAL Vulkan & Intel AVX Compute Initialization
After=systemd-modules-load.service local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/lib/tuff/tuff-distro-tools vulkan-init
RemainAfterExit=yes

IOSchedulingClass=idle
CPUSchedulingPolicy=idle

[Install]
WantedBy=multi-user.target
